services:
  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: car_marketplace
      MYSQL_USER: car_user
      MYSQL_PASSWORD: car_pass
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      APP_URL: http://localhost:8000
      FILESYSTEM_DISK: public
      APP_ENV: local
      APP_DEBUG: "true"
      DB_CONNECTION: mysql
      DB_HOST: db
      DB_PORT: 3306
      DB_DATABASE: car_marketplace
      DB_USERNAME: car_user
      DB_PASSWORD: car_pass
    volumes:
      - backend_storage:/var/www/html/storage

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    depends_on:
      - backend
    environment:
      VITE_API_BASE_URL: http://backend:8000/api

volumes:
  db_data:
  backend_storage:
